<% if presenter.total_parent_collections <= 0 %>
  <div class="alert alert-warning" role="alert"><%= t('hyrax.collections.show.no_visible_parent_collections') %></div>
<% else %>
  <table class="table table-striped">
    <tbody>
      <% presenter.parent_collections.documents.each do |document| %>
        <tr>
          <% id = document.id %>
          <td>&nbsp;
            <% if current_user and document.depositor != current_user.user_key %>
              <i class="glyphicon glyphicon-share-alt"></i>
            <% end %>
          </td>
          <td>
            <div class="media">
              <% if collection_logo_path(id).present? %>
                <%= link_to [hyrax, document], class: "media-left" do %>
                  <%= image_tag collection_logo_path(id), class: "hidden-xs file_listing_thumbnail" %>
                <% end %>
              <% else %>
                <%= link_to [hyrax, document], class: "media-left" do %>
                  <%= render_thumbnail_tag document, { class: "hidden-xs file_listing_thumbnail" }, { suppress_link: true } %>
                <% end %>
              <% end %>
              <div class="media-body">
                <div class="media-heading">
                  <strong><%= link_to document.title_or_label, [hyrax, document], id: "src_copy_link_#{id}" %></strong>
                </div>
              </div>
            </div>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <div class="row">
    <%= render 'hyrax/collections/paginate', solr_response: presenter.parent_collections, page_param_name: :parent_collection_page %>
  </div>
<% end %>
