<%# Override file to remove unwanted labels from header and customize layout of view %>
<%# Modified 'public_view_label' Collection link to use slugs %>
<% provide :page_title, construct_page_title(@presenter.title) %>
<% provide :meta_description, !(@presenter.description).empty? ? @presenter.description : '.default_description' %>

<div class="hyc-container" itemscope itemtype="http://schema.org/CollectionPage">
  <div class="row hyc-header">
    <div class="col-md-12">

      <% unless @presenter.banner_file.blank? %>
          <header class="hyc-banner" style="background-image:url(<%= @presenter.banner_file %>)">
      <% else %>
          <header class="hyc-generic">
      <% end %>
      <div class="row">
        <div class="col-sm-2">

          <% if @presenter.logo_record.present? %>
            <div class="hyc-logos collection-logo">
              <% @presenter.logo_record.each_with_index do |lr, i| %>
                <%# remove unnecessary link to [:linkurl] %>
                <img alt="<%= (lr[:alttext].present? ? lr[:alttext] : lr[:file]) %>" src="<%= lr[:file_location] %>", class="img-responsive" />
              <% end %>
            </div>
          <% else %>
            <%= render_thumbnail_tag @presenter.solr_document, { class: "hyc-logos collection-logo img-responsive" }, { suppress_link: true } %>
          <% end %>

        </div>
        <div class="col-sm-10">
          <div class="hyc-title collection-title-size">
            <h1><%= @presenter.title.first %></h1>
          </div>
          <div class="hyc-description">
            <%= render 'collection_description', presenter: @presenter %>
          </div>
        </div>
      </div>

      <%# Removed labels (item count, created by, and last updated) from header %>

      </header>

    </div>
  </div>

  <div class="row hyc-body">
    <div class="col-md-12 hyc-metadata">
      <% unless has_collection_search_parameters? %>
          <h2><%= t('hyrax.dashboard.collections.show.metadata_header') %></h2>
          <%= render 'show_descriptions' %>
      <% end %>
    </div>

    <!-- Parent collections -->
    <% if @presenter.collection_type_is_nestable? && @presenter.total_parent_collections > 0 %>
      <div class="hyc-blacklight hyc-bl-title parent-collections-title-size">
        <h2>
          <%= t('.parent_collection_header') %>
        </h2>
      </div>
      <div class="hyc-blacklight hyc-bl-results parent-collections-list">
        <%= render 'show_parent_collections', presenter: @presenter %>
      </div>
    <% end %>
  </div>

  <!-- Search results label -->
  <% if @members_count > 0 || @presenter.subcollection_count > 0 %>
    <div class="hyc-blacklight hyc-bl-title">
      <h2>
        <% if has_collection_search_parameters? %>
            <%= t('hyrax.dashboard.collections.show.search_results') %>
        <% end %>
      </h2>
    </div>
  <% end %>

  <!-- Subcollections -->
  <% if @presenter.collection_type_is_nestable? && @subcollection_count > 0 %>
      <div class="hyc-blacklight hyc-bl-title">
        <h4><%= t('hyrax.base.collections.show.subcollection_count') %> (<%= @subcollection_count %>)</h4>
      </div>
      <div class="hyc-blacklight hyc-bl-results">
        <%= render 'subcollection_list', collection: @subcollection_docs %>
      </div>
  <% end %>

  <%# Move search bar down to be inline with 'Works in Collection' h2 %>
  <!-- Works -->
  <% if @members_count > 0 %>
    <div class='row'>
      <div class='col-sm-6'>
        <div class="hyc-blacklight hyc-bl-title">
          <h2><%= t('.works_in_collection') %> (<%= @members_count %>)</h2>
        </div>
      </div>
      <!-- Search bar -->
      <div class="col-sm-6">
        <div class="hyc-blacklight hyc-bl-search hyc-body row">
          <%= render 'search_form', presenter: @presenter, url: hyrax.collection_path(@presenter.id) %>
        </div>
      </div>
    </div>

      <div class="hyc-blacklight hyc-bl-sort">
        <%= render 'sort_and_per_page', collection: @presenter %>
      </div>

      <div class="hyc-blacklight hyc-bl-results">
        <%= render_document_index @member_docs %>
      </div>

      <div class="hyc-blacklight hyc-bl-pager">
        <%= render 'paginate' %>
      </div>
  <% end # if @members_count > 0 %>
</div>
