<%# Override file to remove unwanted labels from header and customize layout of view %>
<% provide :page_title, construct_page_title(@presenter.title) %>
<div class="hyc-container" itemscope itemtype="http://schema.org/CollectionPage">
  <div class="row hyc-header">
    <div class="col-md-12">

      <% unless @presenter.banner_file.blank? %>
          <header class="hyc-banner" style="background-image:url(<%= @presenter.banner_file %>)">
      <% else %>
          <header class="hyc-generic">
      <% end %>

      <div class="row">
        <div class="col-md-2">
          <% unless @presenter.logo_record.blank? %>
            <div class="hyc-logos collection-logo">
              <% @presenter.logo_record.each_with_index  do |lr, i| %>

                <% if lr[:linkurl].blank? %>
                  <img alt="<%= lr[:alttext] %>" src="<%= lr[:file_location] %>", class="img-responsive" />
                <% else %>
                  <a href="<%= lr[:linkurl] %>">
                    <img alt="<%= lr[:alttext] %>" src="<%= lr[:file_location] %>", class="img-responsive" />
                  </a>
                <% end %>

              <% end %>
            </div>
          <% end %>
        </div>
        <div class="col-md-9 col-md-offset-1">
          <div class="hyc-title">
            <h1><%= @presenter.title.first %></h1>
            <%= render 'collection_description', presenter: @presenter %>
          </div>
        </div>
      </div>

      <%# Removed labels (item count, created by, and last updated) from header %>

      </header>

    </div>
  </div>

  <div class="row hyc-body">
    <div class="col-md-12 hyc-description">

      <% if @presenter.collection_type_is_nestable? && @presenter.total_parent_collections > 0 %>
          <div class="hyc-blacklight hyc-bl-title">
            <h2>
              <%= t('.parent_collection_header') %> (<%= @presenter.total_parent_collections %>)
            </h2>
          </div>
          <div class="hyc-blacklight hyc-bl-results">
            <%= render 'show_parent_collections', presenter: @presenter %>
          </div>
      <% end %>

    </div>
    <div class="col-md-12 hyc-metadata">
      <% unless has_collection_search_parameters? %>
          <h2><%= t('hyrax.dashboard.collections.show.metadata_header') %></h2>
          <%= render 'show_descriptions' %>
      <% end %>
    </div>
  </div>

  <!-- Search results label -->
  <% if @members_count > 0 || @presenter.subcollection_count > 0 %>
    <div class="hyc-blacklight hyc-bl-title">
      <h2>
        <% if has_collection_search_parameters? %>
            <%= t('hyrax.dashboard.collections.show.search_results') %>
        <% end %>
      </h2>
    </div>
  <% end %>

  <!-- Subcollections -->
  <% if @presenter.collection_type_is_nestable? && @subcollection_count > 0 %>
      <div class="hyc-blacklight hyc-bl-title">
        <h4><%= t('.subcollection_count') %> (<%= @subcollection_count %>)</h4>
      </div>
      <div class="hyc-blacklight hyc-bl-results">
        <%= render 'subcollection_list', collection: @subcollection_docs %>
      </div>
  <% end %>

  <%# Move search bar down to be inline with 'Works in Collection' h2 %>
  <!-- Works -->
  <% if @members_count > 0 %>
    <div class='row'>
      <div class='col-sm-6'>
        <div class="hyc-blacklight hyc-bl-title">
          <h2><%= t('.works_in_collection') %></h2>
        </div>
      </div>
      <!-- Search bar -->
      <div class="col-sm-6">
        <div class="hyc-blacklight hyc-bl-search hyc-body row">
          <%= render 'search_form', presenter: @presenter, url: hyrax.collection_path(@presenter.id) %>
        </div>
      </div>
    </div>

      <div class="hyc-blacklight hyc-bl-sort">
        <%= render 'sort_and_per_page', collection: @presenter %>
      </div>

      <div class="hyc-blacklight hyc-bl-results">
        <%= render_document_index @member_docs %>
      </div>

      <div class="hyc-blacklight hyc-bl-pager">
        <%= render 'paginate' %>
      </div>
  <% end # if @members_count > 0 %>
</div>
