	<!-- Override file from Hyrax 2.3.3 -->
	<!-- Added custom announcement sections and links to browse collections and institutions -->
	<section class="hero-fullscreen-bg text-center">
		<div class="container">
			<h2 class="heading">Explore Religion & Theology Collections</h2>
			<div class="searchbar navbar col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
				<%= render partial: 'catalog/search_form' %>
			</div>
			<div class="col-sm-12 browse-all-home">
				<%= link_to "Browse All", main_app.search_catalog_path %> <%= link_to ' Search Tips', main_app.search_tips_path %>
			</div>
		</div>
	</section>
	<section class="intro">
		<div class="container">
			<div class="row">
				<div class="col-sm-12 col-md-5 intro-text slideInLeft">
					<!--<p> <span class="find-heading">Find archival, historical, and special collections</span> in religion and theology from libraries, religious institutions, and archives worldwide.</p>-->
					
					<h3>Welcome to Atla Digital Library</h3>
					<p>Find archival, historical, and special collections in religion and theology from libraries, religious institutions, and archives worldwide.</p>
					
					
					
					<p class="learn-more">
						<%= link_to "Learn more ", hyrax.about_path %>
					</p>

				</div>
				<div class="col-sm-12 col-md-7 browse-box slideInRight">
					<div class="col-xm-12 col-sm-6">
						<%= link_to main_app.collections_path do %>
							<%= image_tag "/img/collections.jpg", class: "browse-by-img" %>
						<% end %>
						<p><%= link_to "Browse by Collection", main_app.collections_path %></p>
					</div>
					<div class="col-xm-12 col-sm-6">
						<%= link_to main_app.institutions_path do %>
							<%= image_tag "/img/institutions.png", class: "browse-by-img" %>
						<% end %>
						<p><%= link_to "Browse by Institution", main_app.institutions_path %></p>
					</div>
				</div>
			</div>
		</div>
	</section>
