<!-- Override file from Hyrax 2.3.3 -->
<section class="explore-section">
<!-- added masonry view -->
  <div class="blog-masonry clearfix"><!--removed default class container-->

    <div class="grid-sizer"></div>

    <% @collections.each do |collection| %>
      <div class="grid-item">
        <div class="thumbnail-custom">
          <h4 class="thumbnail-heading">
            <%= link_to collection['url'] do %>
              <%= collection['anchor_text'] %>
            <% end %></h4>
          <%= link_to collection['url'], class: '', 'aria-hidden' => true do %>
            <span class="overlay"></span>
            <img src="<%= collection['image']['path_to_file'] %>" class="img-responsive feature-image"/>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</section>

<ul class="list-inline collection-highlights-list">
  <li>
    <%= link_to "View All Collections", main_app.collections_path, class: 'btn btn-default' %>
  </li>
</ul>
