
	<section id="featured-exhibits">
		<h3 class="home-featured-heading">Online Exhibits</h3>
		<div>
			<%= render 'featured_exhibits' %>
		</div>
	</section>

	<section id="featured-collections">
		<h3 class="home-featured-heading">Featured Collections</h3>
		<div>
			<h2 class="sr-only"><%= t('hyrax.homepage.admin_sets.title') %></h2>
			<%= render 'explore_collections' %>
		</div>
	</section>

	<section id="featured-works">
		<h3 class="home-featured-heading">Featured Items</h3>
		<div>
			<%= render partial: 'featured_works' %>
		</div>
	</section>

	<section id="featured-news">
		<h3 class="home-featured-heading">Digital Library News</h3>
		<div>
			<%= render partial: 'featured_news' %>
		</div>
	</section>
