<div class="page-content">
  <div class="container">
    <div class="text-center">
      <h2>Resend unlock instructions</h2>
    </div>
    <div class="well well-form-wrapper center-block">
      <p class="lead text-center">Your email</p>
      <%= simple_form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post }) do |f| %>
        <%= f.error_notification %>
        <%= f.full_error :unlock_token %>
        <div class="form-group">
          <%= f.label :email, :class => "col-sm-3 control-label" %>
          <div class="col-sm-9">
            <%= f.input :email, required: true, autofocus: true, :class => "form-control", label: false %>
          </div>
        </div>
        <div class="form-actions">
          <%= f.button :submit, "Resend unlock instructions", :class => "btn btn-primary btn-lg center-block" %>
        </div>
      <% end %>
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
