<%= simple_form_for @harvester do |f| %>
  <% if @harvester.errors.any? %>
    <div id='error_explanation'>
      <h2><%= pluralize(@harvester.errors.count, 'error') %> prohibited this harvester from being saved:</h2>

      <ul>
      <% @harvester.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.input :name %>
  <%= f.input :base_url, label: 'Base URL' %>
  <%= f.input :institution_name, label: 'Institution Name' %>

  <%= f.input :external_set_id,
    label: 'Set (source)',
    collection: @sets || [['Enter a Base URL', 'none']],
    include_blank: (@sets.present?),
    input_html: { disabled: (!@sets.present?) }
  %>

  <button type="button" class="btn btn-default refresh-set-source">Refresh Sets</button>
  <br />
  <br />
  <br />

  <%= f.input :admin_set_id,
    label: 'Admin Set',
    collection: @admin_sets,
    selected: @harvester.admin_set_id || @admin_sets.first
  %>

  <%= f.input :user_id, as: :hidden, input_html: { value: current_user.id } %>

  <%= f.input :frequency, collection: @harvester.frequency_enums %>
  <%= f.input :limit, label: 'Limit (leave blank or 0 for all records)',  as: :integer %>
  <%= f.input :importer,
    label: 'Data Grabber',
    collection: @harvester.importer_enums
  %>
  <%= f.input :right_statement,
    label: 'Rights Statement',
    collection: @rights.select_active_options,
    item_helper: @rights.method(:include_current_value)
  %>
  <%= f.input :thumbnail_url, label: 'Thumbnail URL' %>
  <div class="help-block well well-sm">
    <p>
      The Thumbnail URL allows for basic templating and substitution on any identified information in to the url. For example:
    </p>

    <p>
      http://commons.ptsem.edu/?cover=<&#37= identifier.split(':').last &#37>&size=L
    </p>

    <p>
      http://commons.ptsem.edu/?cover=<&#37= record.header.identifier.split(':').last &#37>&size=L
    </p>
  </div>

  <% if params[:action] == "edit" %>
    <div class='actions'>
      <%= link_to 'Cancel', sufia.dashboard_index_path, class: 'btn btn-default' %>
      <%= f.submit 'Update Harvester', class: 'btn btn-primary' %> |
      <%= f.submit 'Harvest Updates', class: 'btn btn-primary' %> |
      <%= f.submit 'Re-Harvest All Data', class: 'btn btn-primary' %>
    </div>
  <% else %>
    <div class='actions'>
      <%= link_to 'Cancel', sufia.dashboard_index_path, class: 'btn btn-default' %>
      <%= f.submit 'Create and Harvest', class: 'btn btn-primary' %>
    </div>
  <% end %>
<% end %>
