<%= render 'admin_content' %>

<p id="notice"><%= notice %></p>

<h1>Listing Harvesters</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Last Run</th>
      <th scope="col">Next Run</th>
      <th scope="col">Records Enqueued</th>
      <th scope="col">Records Processed</th>
      <th scope="col">Records Failed</th>
      <th scope="col">Records Deleted Upstream</th>
      <th scope="col">Total Records</th>
      <th scope="col" colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @harvesters.each do |harvester| %>
      <tr>
        <th scope="row"><%= harvester.name %></th>
        <td><%= harvester.last_harvested_at.strftime("%b %d, %Y") if harvester.last_harvested_at %></td>
        <td><%= harvester.next_harvest_at.strftime("%b %d, %Y") if harvester.next_harvest_at %></td>
        <td><%= harvester.harvest_runs.last&.enqueued %></td>
        <td><%= harvester.harvest_runs.last&.processed %></td>
        <td><%= harvester.harvest_runs.last&.errors %></td>
        <td><%= harvester.harvest_runs.last&.deleted %></td>
        <td><%= harvester.harvest_runs.last&.total %></td>
        <td><%= link_to raw('<span class="glyphicon glyphicon-pencil"></span>'), edit_harvester_path(harvester) %></td>
        <td><%= link_to raw('<span class="glyphicon glyphicon-remove"></span>'), harvester, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
