<%= render 'admin_content' %>

<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @harvester.name %>
</p>

<p>
  <strong>Base url:</strong>
  <%= @harvester.base_url %>
</p>

<p>
  <strong>Institution name:</strong>
  <%= @harvester.institution_name %>
</p>

<p>
  <strong>Collection:</strong>
  <%= @harvester.collection %>
</p>

<p>
  <strong>Frequency:</strong>
  <%= @harvester.frequency %>
</p>

<p>
  <strong>Limit:</strong>
  <%= @harvester.limit %>
</p>

<p>
  <strong>Importer:</strong>
  <%= @harvester.importer %>
</p>

<p>
  <strong>Right statement:</strong>
  <%= @harvester.right_statement %>
</p>

<p>
  <strong>Thumbnail url:</strong>
  <%= @harvester.thumbnail_url %>
</p>

<%= link_to 'Edit', edit_harvester_path(@harvester) %> |
<%= link_to 'Back', harvesters_path %>
