
<%# w = Work.find(presenter.solr_document.response['response']['docs'].first['id']) %>
<%# fail %>
<%= presenter.attribute_to_html(:identifier, render_as: :external_link) %>
<%= presenter.attribute_to_html(:creator, render_as: :faceted) %>
<%= presenter.attribute_to_html(:language, render_as: :faceted) %>
<%= presenter.attribute_to_html(:publisher, render_as: :faceted) %>
<%= presenter.attribute_to_html(:subject, render_as: :faceted) %>
<% presenter.solr_document.response['response']['docs'].first.each do |name, value| %>
  <%
    clean_name = name.gsub(/_dtsi|_ssim|_tesim|_ss|_bsi/, '')
    next if %w[
      id
      title
      creator
      identifier
      language
      publisher
      subject
      system_create
      system_modified
      has_model
      accessControl
      hasRelatedMediaFragment
      hasRelatedImage
      depositor
      thumbnail_path
      suppressed
      member_ids
      file_set_ids
      human_readable_type
      read_access_group
      edit_access_person
      _version_
      timestamp
      score
      rights
    ].include?(clean_name)
  %>
  <tr>
    <th><%= clean_name.titlecase %></th>
    <td>
      <ul class="tabular">
        <li class="attribute <%= clean_name %>">
          <span>
            <%= value.is_a?(Array) ? value.join(', ') : value %>
          </span>
        </li>
      </ul>
    </td>
  </tr>
<% end %>

