<!-- Override file from Hyrax 2.3.3 -->
<!-- added atla specific text and links -->
<footer class="navbar navbar-inverse">
  <div class="container">
    <div class="footer-menu col-md-3 col-sm-12">
      <p><%= link_to 'Collections', main_app.collections_path %></p>
      <p><%= link_to 'Institutions', main_app.institutions_path %></p>
      <p><%= link_to 'About', hyrax.about_path %></p>
      <p><%= link_to 'Participate', main_app.participate_path %></p>
      <p><%= link_to 'Search Tips', main_app.search_tips_path %></p>
      <p><%= link_to 'Help', hyrax.help_path %></p>
    </div>

    <div class="footer-search col-md-6 col-sm-12"><%= render partial: 'catalog/search_form' %></div>

    <div class="footer-info col-md-3 col-sm-12 ">
      <p><span class="footer-name-one">Atla</span><br>
	  <a href="https://www.atla.com/about/contact-us/" target="_blank">Contact us <span class="glyphicon glyphicon-new-window"></span></a>
      </p>
    </div>
    <div id="backtop">&#9650;</div>
  </div>
</footer>
