<h1>Contributing Institutions</h1>
<p>This is a list of institutions that have contributed materials to this site. <br>Click on the institution name to view their collections.</p>


<!-- <p><%# link_to 'Abilene Christian University', '/catalog?f[publisher_sim][]=Abilene+Christian+University%2C+Brown+Library%2C' %></p> -->

<!-- <p><%# link_to 'Ambrose Swasey Library, Colgate Rochester Crozer Divinity School', '/catalog?f[publisher_sim][]=Colgate+Rochester+Crozer+Divinity+School.' %></p> -->

<!-- <p><%# link_to 'Andover Newton Theological School, Franklin Trask Library', '/catalog?f[publisher_sim][]=Andover+Newton+Theological+School%2C+Franklin+Trask+Library%2C' %></p> -->


<%# TODO: update link %>
<%# <p><a href="http://dl.atla.com/collections/4f16c295t">Andover-Harvard Library (Harvard Divinity School)</a></p> %>

<p><%= link_to 'Arthur L. Merrill / United Theological Seminary of the Twin Cities', '/catalog?f[publisher_sim][]=Arthur+L.+Merrill+%2F+United+Theological+Seminary+of+the+Twin+Cities' %></p>

<!-- <p><%# link_to 'Asbury Theological Seminary, B. L. Fisher Library', '/catalog?f[publisher_sim][]=Asbury+Theological+Seminary%2C+B.+L.+Fisher+Library%2C' %></p> -->

<!-- <p><%# link_to 'Boston University Theology Library', '/catalog?f[publisher_sim][]=Boston+University+Theology+library' %></p> -->

<!-- <p><%# link_to 'Bridwell Library, Perkins School of Theology, Southern Methodist University', '/catalog?f[publisher_sim][]=Bridwell+Library%2C+Southern+Methodist+University%2C' %></p> -->

<!-- <p><%# link_to 'Claremont School of Theology', '/catalog?f[publisher_sim][]=Claremont+School+of+Theology.+Library.' %></p> -->

<!-- <p><%# link_to 'Concordia Seminary Library', '/catalog?f[publisher_sim][]=Concordia+Seminary+Library' %></p> -->

<!-- <p><%# link_to 'Drew University Methodist Library', '/catalog?f[publisher_sim][]=Drew+University+Methodist+Library%2C' %></p> -->

<!-- <p><%# link_to 'Duke University Divinity School', '/catalog?f[publisher_sim][]=Duke+University%2C+Divinity+School+Library%2C+' %></p> -->

<!-- <p><%# link_to 'Hartford Seminary Library', '/catalog?f[publisher_sim][]=Hartford+Seminary+Library' %></p> -->

<!-- <p><%# link_to 'Harvard Divinity School, Andover-Harvard Theological Library', '/catalog?f[publisher_sim][]=Harvard+Divinity+School%2C+Andover-Harvard+Theological+Library' %></p> -->

<!-- <p><%# link_to 'Henri J.M. Nouwen Archives and Research Collection', '/catalog?f[publisher_sim][]=The+Henri+J.M.+Nouwen+Archives+and+Research+Collection%2C' %></p> -->

<!-- <p><%# link_to 'Kathryn Sullivan Bowld Music Library, Southwestern Baptist Theological Seminary', '/catalog?f[publisher_sim][]=SWBTS+Libraries' %></p> -->

<p><%= link_to 'Midwestern Baptist Theological Seminary Library', '/catalog?f[publisher_sim][]=Midwestern+Baptist+Theological+Seminary+Library' %></p>

<!-- <p><%# link_to 'Monroe F. Swilley, Jr. Library, Mercer University', '/catalog?f[publisher_sim][]=Mercer+University+Atlanta%2C+Monroe+F.+Swilley%2C+Jr.+Library.' %></p> -->

<!-- <p><%# link_to 'Ohio State University and Bridwell Library, Perkins School of Theology, Southern Methodist University', '/catalog?f[publisher_sim][]=The+Ohio+State+University+Libraries+%2F+Bridwell+Library%2C+Southern+Methodist+University%2C' %></p> -->

<p><%= link_to 'Pitts Theology Library, Emory University', '/catalog?f[publisher_sim][]=Pitts+Theology+Library' %></p>

<p><%= link_to 'Princeton Theological Seminary Library', '/catalog?f[contributing_institution_sim][]=Princeton+Theological+Seminary+Library&q=' %></p>

<!-- <p><%# link_to 'Reeves Library, Moravian College and Theological Seminary', '/catalog?f[publisher_sim][]=Reeves+Library%2C+Moravian+College+and+Theological+Seminary' %></p> -->

<!-- <p><%# link_to 'Sanctuary for Sacred Art', '/catalog?f[publisher_sim][]=Sanctuary+for+Sacred+Arts' %></p> -->

<p><%= link_to 'Southwestern Baptist Theological Seminary Libraries', '/catalog?f[contributing_institution_sim][]=Southwestern+Baptist+Theological+Seminary+Libraries&q=' %></p>

<!-- <p><%# link_to 'United Theological Seminary Library', '/catalog?f[publisher_sim][]=United+Theological+Seminary+Library' %></p> -->

<!-- <p><%# link_to 'Vanderbilt University Divinity Library', '/catalog?f[publisher_sim][]=Vanderbilt+University%2C+Divinity+Library' %></p> -->

<!-- <p><%# link_to 'Yale University Divinity School Library', '/catalog?f[publisher_sim][]=Yale+University+Divinity+School+Library' %></p> -->
