<!-- NOTE(dewey4iv): overridden from blacklight - adds search support to facets -->
<div class="row">
  <div class="letter-list">
    <div>
      <% ('A'..'Z').to_a.each do |letter| %>
        <%= link_to(letter, @pagination.params_for_resort_url('count', search_state.to_h).merge({ "facet.prefix": letter }), class: 'btn btn-link prefix-link', data: { ajax_modal: "preserve" }) %>
      <% end %>
      <%= link_to("reset", @pagination.params_for_resort_url('count', search_state.to_h).merge({ "facet.prefix": "" }), class: 'btn btn-link prefix-link facet-filter-reset', data: { ajax_modal: "preserve" }) %>
    </div>
  </div>
</div>
<!-- END OVERRIDE -->

<div class="prev_next_links btn-group pull-left">
  <%= link_to_previous_page @pagination, raw(t('views.pagination.previous')), params: search_state.to_h, param_name: blacklight_config.facet_paginator_class.request_keys[:page], class: 'btn btn-link', data: { ajax_modal: "preserve" } do %>
    <span class="disabled btn btn-disabled"><%= raw(t('views.pagination.previous')) %></span>
  <% end %>

  <%= link_to_next_page @pagination, raw(t('views.pagination.next')), params: search_state.to_h, param_name: blacklight_config.facet_paginator_class.request_keys[:page], class: 'btn btn-link',  data: { ajax_modal: "preserve" } do %>
    <span class="disabled btn btn-disabled"><%= raw(t('views.pagination.next')) %></span>
  <% end %>
</div>

<div class="sort_options btn-group pull-right">
  <% if @pagination.sort == 'index' -%>
    <span class="active az btn btn-default"><%= t('blacklight.search.facets.sort.index') %></span>
    <%= link_to(t('blacklight.search.facets.sort.count'), @pagination.params_for_resort_url('count', search_state.to_h), class: "sort_change numeric btn btn-default", data: { ajax_modal: "preserve" }) %>
  <% elsif @pagination.sort == 'count' -%>
    <%=  link_to(t('blacklight.search.facets.sort.index'), @pagination.params_for_resort_url('index', search_state.to_h), class: "sort_change az btn btn-default",  data: { ajax_modal: "preserve" }) %>
    <span class="active numeric btn btn-default"><%= t('blacklight.search.facets.sort.count') %></span>
  <% end -%>
</div>
