<!-- Override file from Hyrax 2.3.3 -->
<nav id="main-navbar" class="navbar navbar-default navbar-fixed-top ignore-paddingtop navbar-light-font navbar-no-background navbar-transparent navbar-background-color">
  <div class="container">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-nav-collapse">
      <span class="sr-only">Toggle Navigation</span>
      <i class="fa fa-bars"></i>
    </button>
    <%= render partial: '/logo' %>

    <div id="main-nav-collapse" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li <%= 'class=active' if current_page?(hyrax.root_path) %>>
          <%= link_to t(:'hyrax.controls.home'), hyrax.root_path %>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expaned="false">
            Explore <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li <%= 'class=active dropdown' if current_page?(main_app.collections_path) %>>
              <%= link_to t(:'hyrax.controls.collections'), main_app.collections_path %>
            </li>
            <li <%= 'class=active dropdown' if current_page?(main_app.institutions_path) %>>
              <%= link_to t(:'hyrax.controls.institutions'), main_app.institutions_path %>
            </li>
          </ul>
        </li>


        <li <%= 'class=active' if current_page?(hyrax.about_path) %>>
          <%= link_to t(:'hyrax.controls.about'), hyrax.about_path %>
        </li>
        <li <%= 'class=active' if current_page?(main_app.participate_path) %>>
          <%= link_to t(:'hyrax.controls.participate'), main_app.participate_path %>
        </li>
      <!--  <li <%= 'class=active' if current_page?(hyrax.help_path) %>>
          <%= link_to t(:'hyrax.controls.help'), hyrax.help_path %>
        </li>-->
      </ul><!-- /.nav -->
      <%# <%= render partial: '/toolbar' %>

      <%= render partial: '/user_util_links' %>
    </div>
  </div>
</nav>
