<%= csrf_meta_tag %>
<meta charset="utf-8" />
<%# Only display meta tag, which enables creation of the ActionCable
consumer, when realtime notifications are enabled and the user is
signed in %>
<% if Hyrax.config.realtime_notifications? && signed_in? %>
    <%= tag :meta, name: 'current-user', data: { user_key: current_user.user_key } %>
<% end %>
<!-- added for use on small devices like phones -->
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="resourcesync" href="<%= hyrax.capability_list_url %>" />

<!-- Twitter card metadata -->
<%= yield :twitter_meta %>
<!-- Google Scholar metadata -->
<%= yield :gscholar_meta %>

<title>Atla Digital Library</title>
<meta name="description" content="The Atla Digital Library provides access to digital collections of
interest to religion and theology researchers. It is conceived in support of Atla's mission of fostering the study of theology and religion by enhancing the development of theological and religious studies libraries and librarianship.">

<!-- application css -->
<%= stylesheet_link_tag 'application' %>

<!-- application js -->
<%= javascript_include_tag 'application' %>

<!-- Google Analytics -->
<%= render partial: '/ga', formats: [:html] %>

<!-- for extras, e.g., a favicon -->
<%= render partial: '/head_tag_extras', formats: [:html] %>

<!-- GOOGLE FONTS -->
<link href="https://fonts.googleapis.com/css?family=Muli:300,400,600,900" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=PT+Serif:400,700" rel="stylesheet">
