<!-- Override file from Hyrax 2.3.3 -->
<!DOCTYPE html>
<html lang="<%= I18n.locale.to_s %>" prefix="og:http://ogp.me/ns#" class='fullscreen-bg'>
  <head>
    <%= render partial: 'layouts/head_tag_content' %>
    <%= content_for(:head) %>
  </head>
  <% content_for(:extra_body_classes, 'frontend') %>
  <body id="top" data-spy="scroll" class="<%= body_class %>">
    <div id="wrapper">
      <!-- NAV UNIT -->
      <%= render '/masthead' %>
      <!-- HERO UNIT -->
      <%= content_for(:precontainer_content) %>
      <!-- END HERO UNIT -->
      <%= render '/flash_msg' %>
      <%= render_breadcrumbs builder: Hyrax::BootstrapBreadcrumbsBuilder %>
      <% if content_for?(:page_header) %>
        <div class="row">
          <div class="col-xs-12 main-header">
            <%= yield(:page_header) %>
          </div>
        </div>
      <% end %>

        <!-- YIELD CONTENT -->
        <%= content_for?(:content) ? yield(:content) : yield %>

      <%= render 'shared/footer' %>
      <%= render 'shared/ajax_modal' %>
    </div><!-- /#wrapper -->
  </body>
</html>
