<!-- Override file from Hyrax 2.3.3 -->
<!-- removed default render for work_description, items, relationships, and citations. Added a iiif check for representative_media mobile views. If no iiif, display "View Full item" -->
<% provide :page_title, construct_page_title(@presenter.title) %>
<% provide(:meta_description, @presenter.description.join("\n")) if @presenter.description.present? %>

<%= render 'shared/citations' %>

<div class="row work-type">
  <div class="col-xs-12">
    <%= render 'work_type', presenter: @presenter %>
  </div>
  <div itemscope itemtype="http://schema.org/CreativeWork" class="col-xs-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <%= render 'work_title', presenter: @presenter %>
      </div>
      <div class="panel-body">
        <div class="row">
          <%= render 'workflow_actions_widget', presenter: @presenter %>
          <% if has_iiif? %>
            <div class="col-sm-12">
              <%= render 'representative_media', presenter: @presenter, viewer: true %>
            </div>
          <% end %>
          <div class="col-sm-3 mobile-media">
            <% if !has_iiif? %>
              <% if @presenter.url.present? %>
                <% Hyrax.config.display_media_download_link = false %>
                <%= render('representative_media', presenter: @presenter, viewer: false)%>

                <%= link_to @presenter.url.first, class: 'btn btn-primary', target: '_blank', rel: "nofollow" do %>
                  View Full Item at
                  <% @presenter.contributing_institution.each do |contributing_institution| %>
                  	 <span itemprop="name" class="institution_link"><%= contributing_institution %></span>
                  <% end %>
                  <span class="glyphicon glyphicon-new-window"></span>
                <% end %>
              <% else %>
                <% Hyrax.config.display_media_download_link = true %>
                <%= render('representative_media', presenter: @presenter, viewer: false)%>
               <% end %>
            <% end %>
          	
            <div class="addthis_inline_share_toolbox"></div>
            <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5e83955ef8379e2e"></script>
          </div>
          <div class="col-sm-9">
            <%= render 'metadata', presenter: @presenter %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
